.parentVideoPopUp {
   width: 100%;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.782);
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1;
   .close {
      position: absolute;
      left: 50%;
      bottom: 3vh;
      i {
         cursor: pointer;
         font-size: 3vw;
         color: rgba(255, 255, 255, 0.192);
         position: relative;
         left: -50%;
         &:hover {
            color: #c00010;
         }
      }
   }
}
.parentVideoPopUp_banner {
   width: 100%;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.932);
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1;
   .close {
      position: absolute;
      left: 50%;
      bottom: 3vh;
      i {
         cursor: pointer;
         font-size: 3vw;
         color: rgba(255, 255, 255, 0.192);
         position: relative;
         left: -50%;
         &:hover {
            color: #c00010;
         }
      }
   }
}
