.parentDivMovieDetails {
   background-size: cover;
   background-position: center;
   color: white;
   .shadeDiv {
      width: 100%;
      background-color: rgba(0, 0, 0, 0.762);
      display: flex;
      .flex-div {
         height: 100vh;
      }
      .movieContent {
         display: flex;
         .sidePoster {
            img {
               margin: 6rem 3rem;
               max-width: 30vw;
               max-height: 70vh;
               border-radius: 0.15rem;
            }
         }
         .movieDetails {
            margin: 7rem 3rem 0 0;
            padding: 0 0 3rem 0;
            .Teaser {
               cursor: pointer;
               font-size: medium;
               font-weight: 500;
               display: inline-flex;
               align-items: center;
               &:hover {
                  color: rgb(196, 196, 196);
               }
               i {
                  color: orangered;
                  font-size: x-large;
                  margin: 0 0.3rem 0 0;
               }
            }
            .overview {
               text-align: justify;
            }
         }
      }
   }
   .noVideo {
      font-size: x-large;
      font-weight: 300;
      display: flex;
      justify-content: center;
      margin-top: 1%;
   }
}

@media screen and (max-width: 720px) {
   .parentDivMovieDetails {
      .shadeDiv {
         .movieContent {
            .sidePoster {
               img {
                  margin: 6rem 2rem;
               }
            }
            .movieDetails {
               .title {
                  margin-top: 2rem;
               }
               .overview {
                  padding: 1rem 2rem;
                  position: absolute;
                  margin: 33vw 0 0;
                  left: 0rem;
               }
            }
         }
      }
   }
}

@media screen and (max-width: 480px) {
   .parentDivMovieDetails {
      .shadeDiv {
         .movieContent {
            display: flex;
            flex-direction: column;
            .sidePoster {
               img {
                  margin: 6rem 2rem 2rem;
                  max-width: 50vw;
                  border-radius: 0.15rem;
               }
            }
            .movieDetails {
               margin: 0 2rem;
               .title {
                  margin-top: 0;
               }
               .overview {
                  padding: 0;
                  position: static;
                  margin: 0;
               }
            }
         }
      }
   }
}
