.parentDivMovieDetails {
   background-size: cover;
   height: 100vh;
   color: white;
}

.parentDivMovieDetails .shadeDiv {
   width: 100%;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.762);
   display: flex;
}
.parentDivMovieDetails .shadeDiv .movieDetails {
   margin: 7rem 0 0 0;
}
.parentDivMovieDetails .shadeDiv .movieDetails .overview {
   padding: 0 8rem 0 0;
}
.parentDivMovieDetails .shadeDiv .sidePoster img {
   margin: 6rem 3rem;
   width: 20rem;
   border-radius: 0.15rem;
}
.video {
   background-color: rgba(255, 99, 71, 0.19);
   width: 90%;
   height: 90%;
   /* display: flex;
   justify-content: center;
   align-items: center; */
   margin: 2.5% auto;
}
.Teaser {
   cursor: pointer;
   font-size: medium;
   font-weight: 500;
   display: flex;
   align-items: center;
}
.Teaser:hover {
   color: rgb(196, 196, 196);
}
.Teaser i {
   color: orangered;
   font-size: x-large;
   margin: 0 0.3rem 0 0;
}
