.nav {
   z-index: 99;
   position: fixed;
   top: 0;
   padding: 10px;
   width: 100%;
   display: flex;
   align-items: center;
   transition: background-color 1000ms;
   &__logo {
      width: fit-content;
      height: 20px;
      cursor: pointer;
   }
   &__menu {
      color: rgb(255, 255, 255);
      display: flex;
      align-items: center;
      padding-left: 1rem;
      & > * {
         margin: 0 0.2rem;
         cursor: pointer;
         padding: 4px 6px;
         border-radius: 5px;
         font-weight: 600;
         font-family: sans-serif;
         &:hover {
            color: rgb(165, 165, 165);
         }
      }
   }
   &__menu_sm {
      display: none;
      $nav_padding: 2.5%;
      z-index: -1;
      background-color: rgba(0, 0, 0, 0.9);
      color: rgba(0, 0, 0, 0);
      width: 100% - (2 * $nav_padding);
      height: 11rem;
      padding: 1.5rem $nav_padding;
      position: absolute;
      top: -14rem;
      left: 0;
      flex-direction: column;
      justify-content: end;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      transition: all 300ms;
      & > * {
         cursor: pointer;
         padding: 5px;
         border-radius: 5px;
         &:hover {
            background-color: rgba(255, 255, 255, 0.05);
         }
      }
   }
   &__hamburger {
      display: none;
      background-color: rgba(255, 255, 255, 0.3);
      cursor: pointer;
      width: 24px;
      height: 18px;
      padding: 3px;
      border-radius: 3px;
      margin-left: auto;
      &:hover {
         background-color: rgba(255, 255, 255, 0.5);
         & > * {
            background-color: rgb(0, 0, 0);
         }
      }
      &--top,
      &--middle,
      &--bottom {
         background-color: rgb(0, 0, 0);
         position: absolute;
         width: 24px;
         height: 2px;
         transform: rotate(0);
         transition: all 0.5s;
      }
      &--middle {
         transform: translateY(7px);
      }
      &--bottom {
         transform: translateY(14px);
      }
   }
   &__hamburger__open &__hamburger--top {
      transform: rotate(45deg) translateY(6px) translate(6px);
   }
   &__hamburger__open &__hamburger--middle {
      display: none;
   }
   &__hamburger__open &__hamburger--bottom {
      transform: rotate(-45deg) translateY(6px) translate(-6px);
   }
}

@media screen and (min-width: 2000px) {
   .nav {
      padding: 20px;
      &__logo {
         height: 40px;
      }
      &__menu {
         & > * {
            font-size: 1.5rem;
         }
      }
   }
}

@media screen and (max-width: 580px) {
   .nav {
      $nav_padding: 2.5%;
      padding: $nav_padding;
      width: 100% - (2 * $nav_padding);

      &__menu {
         display: none;
      }
      &__menu_sm {
         display: flex;
      }
      &__hamburger {
         display: block;
      }
   }
}
