$primary_color_light: rgb(216, 31, 38); // #logo color
$primary_color_dark: rgb(160, 15, 20);
$secondary_color_light: rgb(160, 160, 160);
$secondary_color_dark: rgb(100, 100, 100);

.videoBgShade_banner,
.videoBgShade_movieDetails {
   width: 100%;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 999;
   background-color: rgba(0, 0, 0, 0.9);
   .videoFrame {
      width: 90%;
      height: 80vh;
      position: relative;
      top: 45%;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
      border: solid 2px rgba(255, 255, 255, 0.25);
      border-radius: 0.3rem;
      background-color: rgb(0, 0, 0);
   }
   .videoControlBtns {
      .videoCloseBtn,
      .videoBackBtn,
      .videoNextBtn {
         position: absolute;
         bottom: 5vh;
         font-size: 2.5rem;
         cursor: pointer;
         color: $secondary_color_dark;
         &:hover {
            color: $secondary_color_light;
         }
      }
      .videoCloseBtn {
         left: 50vw;
         right: 50vw;
         transform: translate(-50%, 0%);
         color: $primary_color_dark;
         &:hover {
            color: $primary_color_light;
         }
      }
      .videoBackBtn {
         left: 40vw;
      }
      .videoNextBtn {
         right: 40vw;
      }
   }
   .videoPlayListContainer {
      width: 25rem;
      height: 100vh;
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(100%);
      transition: transform 700ms;
      .semiCircleBtn {
         background-color: $secondary_color_dark;
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         margin: 0 0 0 -3rem;
         height: 14rem;
         width: 10rem;
         border-radius: 50% 0 0 50%;
         z-index: -1;
         display: flex;
         align-items: center;
         cursor: pointer;
         &:hover {
            background-color: $secondary_color_light;
         }
         .arrowLeftRight {
            margin: 0 0 0 0.7rem;
            font-size: 2rem;
            color: black;
         }
      }
      .videoPlayList {
         background-color: rgb(15, 15, 15);
         overflow-y: scroll;
         height: inherit;
         .playlistHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 4rem;
            background-color: rgb(0, 0, 0);
            .playlistHeader_title {
               margin: 0 0 0 1.2rem;
            }
            .video_dateOrderBtn {
               margin: 0 1rem 0 0;
               background-color: rgba(253, 253, 253, 0.165);
               color: rgb(255, 255, 255);
               padding: 0.3rem;
               border-radius: 0.3rem;
               cursor: pointer;
               border: none;
               &:hover {
                  background-color: rgba(253, 253, 253, 0.322);
               }
            }
         }
         .videoItem {
            border-top: solid 1px rgb(40, 40, 40);
            border-bottom: solid 1px rgb(40, 40, 40);
            .video_preview {
               display: flex;
               align-items: center;
               padding: 0.2rem 1rem 0.2rem 0.4rem;
               cursor: pointer;
               .video_number {
                  font-size: 13px;
                  font-weight: 300;
                  padding: 0 0.4rem 0 0;
                  color: rgba(255, 255, 255, 0.541);
               }
               .video_thumbnail {
                  margin: 0 0.8rem 0 0;
               }
               .video_properties {
                  > * {
                     padding: 1px 0;
                  }
                  .video_type {
                     font-size: 14px;
                  }
                  .video_date {
                     font-size: 14px;
                     font-weight: 200;
                  }
               }
            }
         }
      }
   }
}

@media screen and (max-width: 1000px) {
   .videoBgShade_banner,
   .videoBgShade_movieDetails {
      .videoFrame {
         width: 80%;
         height: 60vh;
      }
      .videoControlBtns {
         .videoCloseBtn,
         .videoBackBtn,
         .videoNextBtn {
            bottom: 10vh;
         }
         .videoBackBtn {
            left: 35vw;
         }
         .videoNextBtn {
            right: 35vw;
         }
      }
      .videoPlayListContainer {
         .semiCircleBtn {
            top: 8%;
            margin: 0 0 0 -2.6rem;
            height: 3.5rem;
            width: 3.5rem;
            .arrowLeftRight {
               margin: 0 0 0 0.6rem;
               font-size: 1.7rem;
            }
         }
         .videoPlayList {
            .videoItem {
               .video_preview {
                  .video_properties {
                     .video_type {
                        font-size: 14px;
                        font-weight: 300;
                     }
                     .video_date {
                        font-size: 12px;
                        font-weight: 200;
                     }
                  }
               }
            }
         }
      }
   }
}

@media screen and (max-width: 580px) {
   .videoBgShade_banner,
   .videoBgShade_movieDetails {
      .videoFrame {
         width: 90%;
         height: 30vh;
      }
      .videoControlBtns {
         .videoCloseBtn,
         .videoBackBtn,
         .videoNextBtn {
            bottom: 20vh;
         }
         .videoBackBtn {
            left: 8vh;
         }
         .videoNextBtn {
            right: 8vh;
         }
      }
      .videoPlayListContainer {
         width: 85%;
         .semiCircleBtn {
            top: 8%;
            margin: 0 0 0 -2.4rem;
            height: 3rem;
            width: 3rem;
            .arrowLeftRight {
               margin: 0 0 0 0.6rem;
               font-size: 1.5rem;
            }
         }
         .videoPlayList {
            .playlistHeader {
               display: flex;
               flex-direction: column;
               align-items: flex-start;
               padding: 0.5rem;
               .playlistHeader_title {
                  margin: 0 0 0 0.5rem;
               }
               .video_dateOrderBtn {
                  margin: 0 0.5rem 0 auto;
               }
            }
            .videoItem {
               .video_preview {
                  .video_thumbnail {
                     width: 6rem;
                  }
               }
            }
         }
      }
   }
}
