.row {
   margin-left: 30px;
   color: #fff;
   transform: translateY(-8rem);
   .posters {
      display: flex;
      margin-left: -30px;
      padding-top: 10px;
      padding-bottom: 25px;
      overflow-x: scroll;
      overflow-y: hidden;
      scrollbar-width: none;
      &::-webkit-scrollbar {
         display: none;
      }
      .poster,
      .smallPoster {
         margin-right: 10px;
         cursor: pointer;
         transition-duration: 400ms;
         border-radius: 2.5px;
         &:first-child {
            margin-left: 30px;
         }
         &:last-child {
            margin-right: 30px;
         }
         &:hover {
            transform: scale(1.1);
            transition-duration: 400ms;
         }
      }
      .poster {
         max-height: 220px;
      }
      .smallPoster {
         max-height: 180px;
      }
   }
}

@media screen and (max-width: 1000px) {
   .row {
      transform: translateY(-7rem);
   }
}

@media screen and (max-width: 580px) {
   .row {
      margin-left: 20px;
      .posters {
         margin-left: -20px;
         .poster,
         .smallPoster {
            &:first-child {
               margin-left: 20px;
            }
            &:last-child {
               margin-right: 20px;
            }
         }
         .poster {
            max-height: 150px;
         }
         .smallPoster {
            max-height: 120px;
         }
      }
   }
}
