.row {
   margin-left: 30px;
   color: #fff;
   transform: translateY(-8rem);
}

.posters {
   display: flex;
   /* padding: 20px; */
   margin-left: -30px;
   padding-top: 10px;
   padding-bottom: 25px;
   overflow-x: scroll;
   overflow-y: hidden;
   scrollbar-width: none;
}

.posters::-webkit-scrollbar {
   display: none;
}

.poster {
   max-height: 220px;
   margin-right: 10px;
   border-radius: 1.2px;
   cursor: pointer;
   transition-duration: 400ms;
}

.poster:first-child {
   margin-left: 30px;
}

.poster:last-child {
   margin-right: 30px;
}

.poster:hover {
   transform: scale(1.1);
   transition-duration: 400ms;
}

.smallPoster {
   max-height: 180px;
   margin-right: 10px;
   border-radius: 1.5px;
   cursor: pointer;
   transition-duration: 400ms;
}

.smallPoster:first-child {
   margin-left: 30px;
}

.smallPoster:last-child {
   margin-right: 30px;
}

.smallPoster:hover {
   transform: scale(1.1);
   transition-duration: 400ms;
}
.video {
   background-color: chocolate;
}
